<li>
  <a href="#"><i class="icon-users"></i> <span>Customer</span></a>
  <ul>
      <li<% if["naturesoft/contacts/admin/customers"].include?(params[:controller]) %>class="active"<% end %>>
        <%= link_to 'Customers', naturesoft_customers.admin_customers_path %>
      </li>
  </ul>
</li>