<li>
  <a href="#"><i class="icon-users"></i> <span>Customer</span></a>
  <ul>
      <li>
        <%= link_to 'Customers', naturesoft_customers.backend_customers_path %>
      </li>
  </ul>
</li>